div {
  margin: 16px;
}
label {
  display: block;
  margin-top: 8px;
}
button {
  margin: 16px;
  background-color: blue;
  color: whitesmoke;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}